@import "../../styles/app";

.button {
  position: fixed;
  width: 100%;
  max-width: 100%!important;
  bottom: 60px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: $red-pale;
  text-align: center;

  .visible {
      display: inline-block;
      transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  }

  .hidden {
      display: none;
      transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  }
}
