@import '../../styles/app';

.author {
    color: $content-color;
    font-weight: bold;
    margin-left: 10px;
}

.listWrapper {
    padding: 20px;
    background: $gray-200;
    max-width: 100%;
    height: fit-content;
}

.excerptWrapper {
    margin: 0px auto;

    .excerpt {
        margin-top: 10px;
    }
}