@import '../../styles/app';

.dateElement {
  float: left;
  width: 135px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid $content-color;

  > .date {
    font-size: 20px;
  }
}

.block {
  margin-bottom: 20px;
}