@import "../../styles/app";

.pageTitle {
  color: $red-pale;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 500;
}

.imageItem {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* = width for a 1:1 aspect ratio */
  //margin:1.66%;
  background-color: $white;
  overflow: hidden;
  cursor: pointer;
  margin: 1px;

  .imageContainer {
    position: absolute;
    height: 100%; /* = 100% - 2*5% padding */
    width: 100%; /* = 100% - 2*5% padding */
    //padding: 5%;
    text-align: center;

    img {
      opacity: 0.75 !important;
      // filter: blur(8px);
      // -webkit-filter: blur(8px);
      width: auto;
      height: auto;
      min-height: 100%;
      min-width: 100%;
      // max-height:100%;
      // max-width:100%;

      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }

  .imageTitle {
    width: 100%;
    background-color: $white;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    //height: 25%;
    vertical-align: middle;
    //padding-top: 15px;
    left: 0;

    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  &:hover {
    img {
      opacity: 1 !important;
      // filter: blur(0px);
      // -webkit-filter: blur(0px);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      transform: scale(1.1);
      filter: none;
    }
  }
}

.slideCaptionPrimary {
  font-size: 1rem;

  @media (max-width: breakpoint-max(sm)) {
    font-size: 0.75rem;
    margin-bottom: 5px;
  }
}

.slideCaptionSecondary {
  font-size: 0.75rem;

  @media (max-width: breakpoint-max(sm)) {
    font-size: 0.55rem;
  }
}

.carousel.slide {
  text-align: center;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 10px;
  left: 15%;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: center;
}

.visually-hidden {
  display: none;
}
