@import "../../styles/app";

.pageTitle {
  color: $red-pale;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 500;
}
.eventItem {
  margin: 0 0 40px 0;

  .icon {
    color: $red-pale;
    font-size: 36px;
    line-height: 32px;

    &:hover {
      cursor: pointer;
      font-size: 40px;
    }
  }
}

.eventLocationWrapper {
    margin: 40px 0;
    padding: 40px;
    background-color: $gray-200;
}

.eventLocation {
  > * {
    padding: 0;
    text-align: left;
  }
}
