@import '../../../styles/app';

.map {
    position: relative;
    height: 100%;
    top: -15px;
    margin-top: 0!important;

    g[role^='region'] + g {
      display: none;
    }
  }
  
  .mapChart {
    position: relative;
    //margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
  }

  .notificationsWrapper {
    width: min-content;
  }

  g[focusable] {
      cursor: pointer;
  }

  .modalWrapper {
    margin: auto;
    position: absolute;
    top: 10%;
    z-index: 1000;
    width: 100%;

    > div {
        max-width: 450px;
        margin: auto;
        
        @media (max-width: breakpoint-max(sm)) {
            max-width: 95%;
        }
    }
}