@import '../../../styles/app';

.map {
    position: relative;
    height: 100%;
    top: -16px;
    margin-top: 0!important;

    g[role^='region'] + g {
      display: none;
    }
  }
  
  .mapChart {
    position: relative;
    //margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
  }

  .notificationsWrapper {
    width: min-content;
  }

  g[focusable] {
      cursor: pointer;
  }