@import '../../styles/app';

.cookieBar {
  background: $gray-100!important;
  color: $gray-800!important;
  text-align: center;
}

.cookieButton {
  margin: 5px!important;
  color: $white!important;
  padding: 5px 35px!important;

  &:hover {
    background: $gray-300!important;
    color: $gray-dark!important;
  }
}

.buttonWrapper {
  margin: auto;
}

.okButton {
  background: $gray-dark!important;
}

.declineButton {
  background: $red-pale!important;
}